# 🚢 Titanic Veri Seti Analizi Ödevi

Bu ödevde Titanic veri seti üzerinde pandas kütüphanesi kullanarak veri analizi yapacaksınız. Sorular kolay seviyeden başlayarak zorlaşmaktadır.

## 📋 Ödev Kuralları:
- Her soruyu ayrı bir hücrede çözün
- Kodlarınızı açıklayıcı yorumlarla destekleyin
- Sonuçları yorumlayın
- Grafik çizilebilecek yerlerde görselleştirme yapın

## 📊 Veri Seti Hakkında:
Titanic veri seti, 1912'de batan Titanic gemisindeki yolcular hakkında bilgi içerir.

**Sütun Açıklamaları:**
- `survived`: Hayatta kalma durumu (0 = Hayır, 1 = Evet)
- `pclass`: Yolcu sınıfı (1 = 1. sınıf, 2 = 2. sınıf, 3 = 3. sınıf)
- `sex`: Cinsiyet
- `age`: Yaş
- `sibsp`: Gemide bulunan kardeş/eş sayısı
- `parch`: Gemide bulunan ebeveyn/çocuk sayısı
- `ticket`: Bilet numarası
- `fare`: Bilet ücreti
- `cabin`: Kabin numarası
- `embarked`: Bindiği liman (C = Cherbourg, Q = Queenstown, S = Southampton)

---
# ✅ TEMEL SEVİYE SORULAR (KOLAY)
---

In [12]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

### Soru 1: Veri setinde kaç satır ve kaç sütun olduğunu bulun.

In [53]:
import pandas as pd 
df.shape

(891, 12)

### Soru 2: Tüm sütun isimlerini yazdırın.

In [14]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

### Soru 3: Yaş ortalamasını ve medyanını hesaplayın.

In [15]:
print(df["Age"])
ortalama = df["Age"].mean()
medyan = df["Age"].median()
print("Yaş Ortalaması : " , ortalama)
print("Yaş Medyanı = " , medyan)

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64
Yaş Ortalaması :  29.69911764705882
Yaş Medyanı =  28.0

### Soru 4: Cinsiyet değişkenindeki eşsiz değerleri yazdırın.

In [16]:
Kategorik = df.describe(include="object")
print("Kategorik Veriler : " ,Kategorik )
print(df["Sex"].unique())

Kategorik Veriler :                             Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644
['male' 'female']

### Soru 5: `pclass` değişkenindeki değerlerin yüzdesel dağılımını yazdırın.

In [24]:
df["Pclass"].value_counts(normalize=True) *100

Pclass
3    55.106622
1    24.242424
2    20.650954
Name: proportion, dtype: float64

### Soru 6: Yaşı 30'dan büyük kadın yolcuları listeleyin.

In [38]:
print(df[(df["Age"]>30) & (df["Sex"] == "female")])

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
11            12         1       1
15            16         1       2
18            19         0       3
..           ...       ...     ...
862          863         1       1
865          866         1       2
871          872         1       1
879          880         1       1
885          886         0       3

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0      1
..                                                 ...     ...   ...    ...
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
865                           Bystrom, Mrs. (Karolina)  female  42.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0

     Parch    Ticket     Fare Cabin Embarked
1        0  PC 17599  71.2833   C85        C
3        0    113803  53.1000  C123        S
11       0    113783  26.5500  C103        S
15       0    248706  16.0000   NaN        S
18       0    345763  18.0000   NaN        S
..     ...       ...      ...   ...      ...
862      0     17466  25.9292   D17        S
865      0    236852  13.0000   NaN        S
871      1     11751  52.5542   D35        S
879      1     11767  83.1583   C50        C
885      5    382652  29.1250   NaN        Q

[103 rows x 12 columns]

### Soru 7: Yaşı 18'den küçük olup 1. sınıfta yolculuk eden yolcuları listeleyin.

In [90]:
print(df[(df["Age"] < 18) & (df["Pclass"].isin([1]))])

     PassengerId  Survived  Pclass  \
297          298         0       1
305          306         1       1
307          308         1       1
329          330         1       1
435          436         1       1
445          446         1       1
504          505         1       1
550          551         1       1
689          690         1       1
781          782         1       1
802          803         1       1
853          854         1       1

                                                  Name     Sex    Age  SibSp  \
297                       Allison, Miss. Helen Loraine  female   2.00      1
305                     Allison, Master. Hudson Trevor    male   0.92      1
307  Penasco y Castellana, Mrs. Victor de Satode (M...  female  17.00      1
329                       Hippach, Miss. Jean Gertrude  female  16.00      0
435                          Carter, Miss. Lucile Polk  female  14.00      1
445                          Dodge, Master. Washington    male   4.00      0
504                              Maioni, Miss. Roberta  female  16.00      0
550                        Thayer, Mr. John Borland Jr    male  17.00      0
689                  Madill, Miss. Georgette Alexandra  female  15.00      0
781          Dick, Mrs. Albert Adrian (Vera Gillespie)  female  17.00      1
802                Carter, Master. William Thornton II    male  11.00      1
853                          Lines, Miss. Mary Conover  female  16.00      0

     Parch    Ticket      Fare    Cabin Embarked
297      2    113781  151.5500  C22 C26        S
305      2    113781  151.5500  C22 C26        S
307      0  PC 17758  108.9000      C65        C
329      1    111361   57.9792      B18        C
435      2    113760  120.0000  B96 B98        S
445      2     33638   81.8583      A34        S
504      0    110152   86.5000      B79        S
550      2     17421  110.8833      C70        C
689      1     24160  211.3375       B5        S
781      0     17474   57.0000      B20        S
802      2    113760  120.0000  B96 B98        S
853      1  PC 17592   39.4000      D28        S

### Soru 8: İlk 10 gözlemden son 3'ünü gösterin.

In [42]:
df.head(10).tail(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

### Soru 9: Bilet fiyatı (fare) 100'den büyük olan kaç kişi vardır?

In [53]:
(df['Fare'] >100).value_counts()

Fare
False    838
True      53
Name: count, dtype: int64

### Soru 10: `sex`, `age` ve `fare` sütunlarından oluşan yeni bir DataFrame oluşturun.

In [58]:
df_new = df[["Sex" , "Age", "Fare"]]
print("Yeni DataFrame : " , df_new)

Yeni DataFrame :          Sex   Age     Fare
0      male  22.0   7.2500
1    female  38.0  71.2833
2    female  26.0   7.9250
3    female  35.0  53.1000
4      male  35.0   8.0500
..      ...   ...      ...
886    male  27.0  13.0000
887  female  19.0  30.0000
888  female   NaN  23.4500
889    male  26.0  30.0000
890    male  32.0   7.7500

[891 rows x 3 columns]

---
# ⚙️ ORTA SEVİYE SORULAR
---

### Soru 1: Cinsiyete göre yaş ortalamasını bulun.

In [61]:
df.groupby('Sex')['Age'].mean()

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

### Soru 2: Sınıfa göre hayatta kalan kişi sayısını bulun.

In [65]:
df.groupby('Pclass')['Survived'].mean()

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

### Soru 3: Hem cinsiyet hem sınıfa göre hayatta kalma oranlarını hesaplayın.

In [74]:
df.groupby(["Sex" , "Pclass"])["Survived"].mean()

Sex     Pclass
female  1         0.968085
        2         0.921053
        3         0.500000
male    1         0.368852
        2         0.157407
        3         0.135447
Name: Survived, dtype: float64

### Soru 4: Embarked değişkenine göre ortalama yaş ve ortalama ücret nedir?

In [85]:
df.groupby("Embarked")[["Age" , "Fare"]].mean()

                Age       Fare
Embarked
C         30.814769  59.954144
Q         28.089286  13.276030
S         29.445397  27.079812

### Soru 5: Pclass gruplarına göre yaşın standart sapmasını bulun.

In [86]:
df.groupby("Pclass")["Age"].std()

Pclass
1    14.802856
2    14.001077
3    12.495398
Name: Age, dtype: float64

### Soru 6: Her `Embarked` limanından kaç yolcu olduğunu ve bunların yüzdelik dağılımını yazdırın.

In [88]:
df.groupby("Embarked").value_counts(normalize=True)*100

Embarked  PassengerId  Survived  Pclass  Name                                                 Sex     Age   SibSp  Parch  Ticket    Fare     Cabin
C         2            1         1       Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.0  1      0      PC 17599  71.2833  C85            1.538462
          53           1         1       Harper, Mrs. Henry Sleeper (Myna Haxtun)             female  49.0  1      0      PC 17572  76.7292  D33            1.538462
          55           0         1       Ostby, Mr. Engelhart Cornelius                       male    65.0  0      1      113509    61.9792  B30            1.538462
          97           0         1       Goldschmidt, Mr. George B                            male    71.0  0      0      PC 17754  34.6542  A5             1.538462
          98           1         1       Greenfield, Mr. William Bertram                      male    23.0  0      1      PC 17759  63.3583  D10 D12        1.538462
                                                                                                                                                              ...
S         863          1         1       Swift, Mrs. Frederick Joel (Margaret Welles Barron)  female  48.0  0      0      17466     25.9292  D17            0.862069
          868          0         1       Roebling, Mr. Washington Augustus II                 male    31.0  0      0      PC 17590  50.4958  A24            0.862069
          872          1         1       Beckwith, Mrs. Richard Leonard (Sallie Monypeny)     female  47.0  1      1      11751     52.5542  D35            0.862069
          873          0         1       Carlsson, Mr. Frans Olof                             male    33.0  0      0      695       5.0000   B51 B53 B55    0.862069
          888          1         1       Graham, Miss. Margaret Edith                         female  19.0  0      0      112053    30.0000  B42            0.862069
Name: proportion, Length: 183, dtype: float64

### Soru 7: Yaşı 60'tan büyük olanların hayatta kalma oranını bulun.

In [97]:
df[df["Age"] > 60]["Survived"].mean()

np.float64(0.22727272727272727)

### Soru 8: `Sex`, `Pclass`, `Survived` için `groupby()` + `agg()` ile ortalama yaş ve ücret hesaplayın.

In [99]:
df.groupby(["Sex" , "Pclass" , "Survived"])[["Age" , "Fare"]].agg("mean")

                              Age        Fare
Sex    Pclass Survived
female 1      0         25.666667  110.604167
              1         34.939024  105.978159
       2      0         36.000000   18.250000
              1         28.080882   22.288989
       3      0         23.818182   19.773093
              1         19.329787   12.464526
male   1      0         44.581967   62.894910
              1         36.248000   74.637320
       2      0         33.369048   19.488965
              1         16.022000   21.095100
       3      0         27.255814   12.204469
              1         22.274211   15.579696

### Soru 9: Age değişkenini artan düzende sıralayın ve ilk 10 kişiyi yazdırın.

In [100]:
print(df.sort_values("Age").head(10))

     PassengerId  Survived  Pclass                             Name     Sex  \
803          804         1       3  Thomas, Master. Assad Alexander    male
755          756         1       2        Hamalainen, Master. Viljo    male
644          645         1       3           Baclini, Miss. Eugenie  female
469          470         1       3    Baclini, Miss. Helene Barbara  female
78            79         1       2    Caldwell, Master. Alden Gates    male
831          832         1       2  Richards, Master. George Sibley    male
305          306         1       1   Allison, Master. Hudson Trevor    male
827          828         1       2            Mallet, Master. Andre    male
381          382         1       3      Nakid, Miss. Maria ("Mary")  female
164          165         0       3     Panula, Master. Eino Viljami    male

      Age  SibSp  Parch           Ticket      Fare    Cabin Embarked
803  0.42      0      1             2625    8.5167      NaN        C
755  0.67      1      1           250649   14.5000      NaN        S
644  0.75      2      1             2666   19.2583      NaN        C
469  0.75      2      1             2666   19.2583      NaN        C
78   0.83      0      2           248738   29.0000      NaN        S
831  0.83      1      1            29106   18.7500      NaN        S
305  0.92      1      2           113781  151.5500  C22 C26        S
827  1.00      0      2  S.C./PARIS 2079   37.0042      NaN        C
381  1.00      0      2             2653   15.7417      NaN        C
164  1.00      4      1          3101295   39.6875      NaN        S

---
# 🧠 KİRLENMEK GÜZELDİR SORULARI :)
---

### Soru 1: En pahalı bileti alan kişinin yaşı, cinsiyeti ve sınıfı nedir?

In [113]:
high_fare = df[df["Fare"] == df["Fare"].max()][["Age", "Sex", "Pclass"]].head(1)
print("Bilet : " , high_fare)

Bilet :        Age     Sex  Pclass
258  35.0  female       1

### Soru 2: Hayatta kalanlar ile ölenler arasında yaş ortalamaları farkı nedir?

In [17]:
hayatta = df[df["Survived"] == 1]["Age"].mean()
ölenler = df[df["Survived"] == 0]["Age"].mean()
fark = hayatta - ölenler
print("Hayatta Kalanlar : ", hayatta)
print("Ölenler : " , ölenler)
print("Fark : " , fark)

Hayatta Kalanlar :  28.343689655172415
Ölenler :  30.62617924528302
Fark :  -2.282489590110604

### Soru 3: Hangi `Pclass` grubunda kadınların hayatta kalma oranı en yüksektir?

In [26]:
kadınlar = df[df["Sex"] == "female"]
oranlar = kadınlar.groupby("Pclass")["Survived"].mean()
en_yuksek_sinif = oranlar.idxmax()
en_yuksek_oran = oranlar.max()
print("En yüksek hayatta kalma oranına sahip sınıf:", en_yuksek_sinif, ". sınıf (%", en_yuksek_oran * 100, ")")
print("Tüm pclass gruplarına göre kadınların hayatta kalma oranı :")
print(oranlar)

En yüksek hayatta kalma oranına sahip sınıf: 1 . sınıf (% 96.80851063829788 )
Tüm pclass gruplarına göre kadınların hayatta kalma oranı :
Pclass
1    0.968085
2    0.921053
3    0.500000
Name: Survived, dtype: float64

### Soru 4: Ortalama yaşın altında olan ve hayatta kalan erkeklerin sayısı kaçtır?

In [25]:
ortalama_yas = df['Age'].mean()
print(ortalama_yas)
# cinsiyeti erkek olan , hayatta kalmış ve ortalama yaşın altında olanı sırasıyla yapıyoruz 
Cevap = (df['Sex'] == 'male') & (df['Survived'] == 1) & (df['Age'] < ortalama_yas)
erkek_sayisi = df[Cevap].shape[0]
#Shape bu satırların sayısını verir
print(erkek_sayisi)

29.69911764705882
51

### Soru 5: `Cabin` değeri eksik olmayanların yaş ortalaması ile eksik olanların yaş ortalaması arasında fark var mı?

In [28]:
#Titanik veri setinde cabin , yolcunun kamarasının (yani gemideki özel odasının) numarasını gösteren bir sütundur.
# 1. Cabin bilgisi olanların yaş ortalaması
yas1 = df[df["Cabin"].notna()]["Age"].mean()
# 2. Cabin bilgisi olmayanların yaş ortalaması
yas2 = df[df["Cabin"].isna()]["Age"].mean()
print("Yaş ortalaması farkı : " , yas1 - yas2)

Yaş ortalaması farkı :  8.274004291626216

### Soru 6: `.describe()` çıktısına göre çarpıklık var mı? Hangi değişkenlerde?

In [43]:
int(df["Fare"].mean()),int(df["Fare"].median())
#Ortalama > Medyan = pozitif çarpıklık(sağa çarpık) 
print(df.describe().round(0))
#ortalama mean ve %50 değeri de medyandır
print(" Sağa çarpık olanlar : Age ,SipSp,Fare")

       PassengerId  Survived  Pclass    Age  SibSp  Parch   Fare
count        891.0     891.0   891.0  714.0  891.0  891.0  891.0
mean         446.0       0.0     2.0   30.0    1.0    0.0   32.0
std          257.0       0.0     1.0   15.0    1.0    1.0   50.0
min            1.0       0.0     1.0    0.0    0.0    0.0    0.0
25%          224.0       0.0     2.0   20.0    0.0    0.0    8.0
50%          446.0       0.0     3.0   28.0    0.0    0.0   14.0
75%          668.0       1.0     3.0   38.0    1.0    0.0   31.0
max          891.0       1.0     3.0   80.0    8.0    6.0  512.0
 Sağa çarpık olanlar : Age ,SipSp,Fare

### Soru 7: Veri setindeki en fazla tekrarlanan yaş değeri (mod) nedir?

In [48]:
mod_yas = df["Age"].mode()
print("En fazla tekrarlanan yaş değeri :" , mod_yas.values)
#En fazla tekrarlanan yaş 24tür

En fazla tekrarlanan yaş değeri : [24.]

### Soru 8: Ortalama bilet fiyatı kadınlar mı yoksa erkekler için mi daha yüksek?

In [52]:
df.groupby("Sex")["Fare"].mean()
#Kadınların ödediği bilet fiyatı daha yüksektir.

Sex
female    44.479818
male      25.523893
Name: Fare, dtype: float64