# üö¢ Titanic Veri Seti Analizi √ñdevi

Bu √∂devde Titanic veri seti √ºzerinde pandas k√ºt√ºphanesi kullanarak veri analizi yapacaksƒ±nƒ±z. Sorular kolay seviyeden ba≈ülayarak zorla≈ümaktadƒ±r.

## üìã √ñdev Kurallarƒ±:
- Her soruyu ayrƒ± bir h√ºcrede √ß√∂z√ºn
- Kodlarƒ±nƒ±zƒ± a√ßƒ±klayƒ±cƒ± yorumlarla destekleyin
- Sonu√ßlarƒ± yorumlayƒ±n
- Grafik √ßizilebilecek yerlerde g√∂rselle≈ütirme yapƒ±n

## üìä Veri Seti Hakkƒ±nda:
Titanic veri seti, 1912'de batan Titanic gemisindeki yolcular hakkƒ±nda bilgi i√ßerir.

**S√ºtun A√ßƒ±klamalarƒ±:**
- `survived`: Hayatta kalma durumu (0 = Hayƒ±r, 1 = Evet)
- `pclass`: Yolcu sƒ±nƒ±fƒ± (1 = 1. sƒ±nƒ±f, 2 = 2. sƒ±nƒ±f, 3 = 3. sƒ±nƒ±f)
- `sex`: Cinsiyet
- `age`: Ya≈ü
- `sibsp`: Gemide bulunan karde≈ü/e≈ü sayƒ±sƒ±
- `parch`: Gemide bulunan ebeveyn/√ßocuk sayƒ±sƒ±
- `ticket`: Bilet numarasƒ±
- `fare`: Bilet √ºcreti
- `cabin`: Kabin numarasƒ±
- `embarked`: Bindiƒüi liman (C = Cherbourg, Q = Queenstown, S = Southampton)

---
# ‚úÖ TEMEL SEVƒ∞YE SORULAR (KOLAY)
---

In [12]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

### Soru 1: Veri setinde ka√ß satƒ±r ve ka√ß s√ºtun olduƒüunu bulun.

In [53]:
import pandas as pd 
df.shape

(891, 12)

### Soru 2: T√ºm s√ºtun isimlerini yazdƒ±rƒ±n.

In [14]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

### Soru 3: Ya≈ü ortalamasƒ±nƒ± ve medyanƒ±nƒ± hesaplayƒ±n.

In [15]:
print(df["Age"])
ortalama = df["Age"].mean()
medyan = df["Age"].median()
print("Ya≈ü Ortalamasƒ± : " , ortalama)
print("Ya≈ü Medyanƒ± = " , medyan)

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64
Ya≈ü Ortalamasƒ± :  29.69911764705882
Ya≈ü Medyanƒ± =  28.0

### Soru 4: Cinsiyet deƒüi≈ükenindeki e≈üsiz deƒüerleri yazdƒ±rƒ±n.

In [16]:
Kategorik = df.describe(include="object")
print("Kategorik Veriler : " ,Kategorik )
print(df["Sex"].unique())

Kategorik Veriler :                             Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644
['male' 'female']

### Soru 5: `pclass` deƒüi≈ükenindeki deƒüerlerin y√ºzdesel daƒüƒ±lƒ±mƒ±nƒ± yazdƒ±rƒ±n.

In [24]:
df["Pclass"].value_counts(normalize=True) *100

Pclass
3    55.106622
1    24.242424
2    20.650954
Name: proportion, dtype: float64

### Soru 6: Ya≈üƒ± 30'dan b√ºy√ºk kadƒ±n yolcularƒ± listeleyin.

In [38]:
print(df[(df["Age"]>30) & (df["Sex"] == "female")])

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
11            12         1       1
15            16         1       2
18            19         0       3
..           ...       ...     ...
862          863         1       1
865          866         1       2
871          872         1       1
879          880         1       1
885          886         0       3

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0      1
..                                                 ...     ...   ...    ...
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
865                           Bystrom, Mrs. (Karolina)  female  42.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0

     Parch    Ticket     Fare Cabin Embarked
1        0  PC 17599  71.2833   C85        C
3        0    113803  53.1000  C123        S
11       0    113783  26.5500  C103        S
15       0    248706  16.0000   NaN        S
18       0    345763  18.0000   NaN        S
..     ...       ...      ...   ...      ...
862      0     17466  25.9292   D17        S
865      0    236852  13.0000   NaN        S
871      1     11751  52.5542   D35        S
879      1     11767  83.1583   C50        C
885      5    382652  29.1250   NaN        Q

[103 rows x 12 columns]

### Soru 7: Ya≈üƒ± 18'den k√º√ß√ºk olup 1. sƒ±nƒ±fta yolculuk eden yolcularƒ± listeleyin.

In [90]:
print(df[(df["Age"] < 18) & (df["Pclass"].isin([1]))])

     PassengerId  Survived  Pclass  \
297          298         0       1
305          306         1       1
307          308         1       1
329          330         1       1
435          436         1       1
445          446         1       1
504          505         1       1
550          551         1       1
689          690         1       1
781          782         1       1
802          803         1       1
853          854         1       1

                                                  Name     Sex    Age  SibSp  \
297                       Allison, Miss. Helen Loraine  female   2.00      1
305                     Allison, Master. Hudson Trevor    male   0.92      1
307  Penasco y Castellana, Mrs. Victor de Satode (M...  female  17.00      1
329                       Hippach, Miss. Jean Gertrude  female  16.00      0
435                          Carter, Miss. Lucile Polk  female  14.00      1
445                          Dodge, Master. Washington    male   4.00      0
504                              Maioni, Miss. Roberta  female  16.00      0
550                        Thayer, Mr. John Borland Jr    male  17.00      0
689                  Madill, Miss. Georgette Alexandra  female  15.00      0
781          Dick, Mrs. Albert Adrian (Vera Gillespie)  female  17.00      1
802                Carter, Master. William Thornton II    male  11.00      1
853                          Lines, Miss. Mary Conover  female  16.00      0

     Parch    Ticket      Fare    Cabin Embarked
297      2    113781  151.5500  C22 C26        S
305      2    113781  151.5500  C22 C26        S
307      0  PC 17758  108.9000      C65        C
329      1    111361   57.9792      B18        C
435      2    113760  120.0000  B96 B98        S
445      2     33638   81.8583      A34        S
504      0    110152   86.5000      B79        S
550      2     17421  110.8833      C70        C
689      1     24160  211.3375       B5        S
781      0     17474   57.0000      B20        S
802      2    113760  120.0000  B96 B98        S
853      1  PC 17592   39.4000      D28        S

### Soru 8: ƒ∞lk 10 g√∂zlemden son 3'√ºn√º g√∂sterin.

In [42]:
df.head(10).tail(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

### Soru 9: Bilet fiyatƒ± (fare) 100'den b√ºy√ºk olan ka√ß ki≈üi vardƒ±r?

In [53]:
(df['Fare'] >100).value_counts()

Fare
False    838
True      53
Name: count, dtype: int64

### Soru 10: `sex`, `age` ve `fare` s√ºtunlarƒ±ndan olu≈üan yeni bir DataFrame olu≈üturun.

In [58]:
df_new = df[["Sex" , "Age", "Fare"]]
print("Yeni DataFrame : " , df_new)

Yeni DataFrame :          Sex   Age     Fare
0      male  22.0   7.2500
1    female  38.0  71.2833
2    female  26.0   7.9250
3    female  35.0  53.1000
4      male  35.0   8.0500
..      ...   ...      ...
886    male  27.0  13.0000
887  female  19.0  30.0000
888  female   NaN  23.4500
889    male  26.0  30.0000
890    male  32.0   7.7500

[891 rows x 3 columns]

---
# ‚öôÔ∏è ORTA SEVƒ∞YE SORULAR
---

### Soru 1: Cinsiyete g√∂re ya≈ü ortalamasƒ±nƒ± bulun.

In [61]:
df.groupby('Sex')['Age'].mean()

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

### Soru 2: Sƒ±nƒ±fa g√∂re hayatta kalan ki≈üi sayƒ±sƒ±nƒ± bulun.

In [65]:
df.groupby('Pclass')['Survived'].mean()

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

### Soru 3: Hem cinsiyet hem sƒ±nƒ±fa g√∂re hayatta kalma oranlarƒ±nƒ± hesaplayƒ±n.

In [74]:
df.groupby(["Sex" , "Pclass"])["Survived"].mean()

Sex     Pclass
female  1         0.968085
        2         0.921053
        3         0.500000
male    1         0.368852
        2         0.157407
        3         0.135447
Name: Survived, dtype: float64

### Soru 4: Embarked deƒüi≈ükenine g√∂re ortalama ya≈ü ve ortalama √ºcret nedir?

In [85]:
df.groupby("Embarked")[["Age" , "Fare"]].mean()

                Age       Fare
Embarked
C         30.814769  59.954144
Q         28.089286  13.276030
S         29.445397  27.079812

### Soru 5: Pclass gruplarƒ±na g√∂re ya≈üƒ±n standart sapmasƒ±nƒ± bulun.

In [86]:
df.groupby("Pclass")["Age"].std()

Pclass
1    14.802856
2    14.001077
3    12.495398
Name: Age, dtype: float64

### Soru 6: Her `Embarked` limanƒ±ndan ka√ß yolcu olduƒüunu ve bunlarƒ±n y√ºzdelik daƒüƒ±lƒ±mƒ±nƒ± yazdƒ±rƒ±n.

In [88]:
df.groupby("Embarked").value_counts(normalize=True)*100

Embarked  PassengerId  Survived  Pclass  Name                                                 Sex     Age   SibSp  Parch  Ticket    Fare     Cabin
C         2            1         1       Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.0  1      0      PC 17599  71.2833  C85            1.538462
          53           1         1       Harper, Mrs. Henry Sleeper (Myna Haxtun)             female  49.0  1      0      PC 17572  76.7292  D33            1.538462
          55           0         1       Ostby, Mr. Engelhart Cornelius                       male    65.0  0      1      113509    61.9792  B30            1.538462
          97           0         1       Goldschmidt, Mr. George B                            male    71.0  0      0      PC 17754  34.6542  A5             1.538462
          98           1         1       Greenfield, Mr. William Bertram                      male    23.0  0      1      PC 17759  63.3583  D10 D12        1.538462
                                                                                                                                                              ...
S         863          1         1       Swift, Mrs. Frederick Joel (Margaret Welles Barron)  female  48.0  0      0      17466     25.9292  D17            0.862069
          868          0         1       Roebling, Mr. Washington Augustus II                 male    31.0  0      0      PC 17590  50.4958  A24            0.862069
          872          1         1       Beckwith, Mrs. Richard Leonard (Sallie Monypeny)     female  47.0  1      1      11751     52.5542  D35            0.862069
          873          0         1       Carlsson, Mr. Frans Olof                             male    33.0  0      0      695       5.0000   B51 B53 B55    0.862069
          888          1         1       Graham, Miss. Margaret Edith                         female  19.0  0      0      112053    30.0000  B42            0.862069
Name: proportion, Length: 183, dtype: float64

### Soru 7: Ya≈üƒ± 60'tan b√ºy√ºk olanlarƒ±n hayatta kalma oranƒ±nƒ± bulun.

In [97]:
df[df["Age"] > 60]["Survived"].mean()

np.float64(0.22727272727272727)

### Soru 8: `Sex`, `Pclass`, `Survived` i√ßin `groupby()` + `agg()` ile ortalama ya≈ü ve √ºcret hesaplayƒ±n.

In [99]:
df.groupby(["Sex" , "Pclass" , "Survived"])[["Age" , "Fare"]].agg("mean")

                              Age        Fare
Sex    Pclass Survived
female 1      0         25.666667  110.604167
              1         34.939024  105.978159
       2      0         36.000000   18.250000
              1         28.080882   22.288989
       3      0         23.818182   19.773093
              1         19.329787   12.464526
male   1      0         44.581967   62.894910
              1         36.248000   74.637320
       2      0         33.369048   19.488965
              1         16.022000   21.095100
       3      0         27.255814   12.204469
              1         22.274211   15.579696

### Soru 9: Age deƒüi≈ükenini artan d√ºzende sƒ±ralayƒ±n ve ilk 10 ki≈üiyi yazdƒ±rƒ±n.

In [100]:
print(df.sort_values("Age").head(10))

     PassengerId  Survived  Pclass                             Name     Sex  \
803          804         1       3  Thomas, Master. Assad Alexander    male
755          756         1       2        Hamalainen, Master. Viljo    male
644          645         1       3           Baclini, Miss. Eugenie  female
469          470         1       3    Baclini, Miss. Helene Barbara  female
78            79         1       2    Caldwell, Master. Alden Gates    male
831          832         1       2  Richards, Master. George Sibley    male
305          306         1       1   Allison, Master. Hudson Trevor    male
827          828         1       2            Mallet, Master. Andre    male
381          382         1       3      Nakid, Miss. Maria ("Mary")  female
164          165         0       3     Panula, Master. Eino Viljami    male

      Age  SibSp  Parch           Ticket      Fare    Cabin Embarked
803  0.42      0      1             2625    8.5167      NaN        C
755  0.67      1      1           250649   14.5000      NaN        S
644  0.75      2      1             2666   19.2583      NaN        C
469  0.75      2      1             2666   19.2583      NaN        C
78   0.83      0      2           248738   29.0000      NaN        S
831  0.83      1      1            29106   18.7500      NaN        S
305  0.92      1      2           113781  151.5500  C22 C26        S
827  1.00      0      2  S.C./PARIS 2079   37.0042      NaN        C
381  1.00      0      2             2653   15.7417      NaN        C
164  1.00      4      1          3101295   39.6875      NaN        S

---
# üß† Kƒ∞RLENMEK G√úZELDƒ∞R SORULARI :)
---

### Soru 1: En pahalƒ± bileti alan ki≈üinin ya≈üƒ±, cinsiyeti ve sƒ±nƒ±fƒ± nedir?

In [113]:
high_fare = df[df["Fare"] == df["Fare"].max()][["Age", "Sex", "Pclass"]].head(1)
print("Bilet : " , high_fare)

Bilet :        Age     Sex  Pclass
258  35.0  female       1

### Soru 2: Hayatta kalanlar ile √∂lenler arasƒ±nda ya≈ü ortalamalarƒ± farkƒ± nedir?

In [17]:
hayatta = df[df["Survived"] == 1]["Age"].mean()
√∂lenler = df[df["Survived"] == 0]["Age"].mean()
fark = hayatta - √∂lenler
print("Hayatta Kalanlar : ", hayatta)
print("√ñlenler : " , √∂lenler)
print("Fark : " , fark)

Hayatta Kalanlar :  28.343689655172415
√ñlenler :  30.62617924528302
Fark :  -2.282489590110604

### Soru 3: Hangi `Pclass` grubunda kadƒ±nlarƒ±n hayatta kalma oranƒ± en y√ºksektir?

In [26]:
kadƒ±nlar = df[df["Sex"] == "female"]
oranlar = kadƒ±nlar.groupby("Pclass")["Survived"].mean()
en_yuksek_sinif = oranlar.idxmax()
en_yuksek_oran = oranlar.max()
print("En y√ºksek hayatta kalma oranƒ±na sahip sƒ±nƒ±f:", en_yuksek_sinif, ". sƒ±nƒ±f (%", en_yuksek_oran * 100, ")")
print("T√ºm pclass gruplarƒ±na g√∂re kadƒ±nlarƒ±n hayatta kalma oranƒ± :")
print(oranlar)

En y√ºksek hayatta kalma oranƒ±na sahip sƒ±nƒ±f: 1 . sƒ±nƒ±f (% 96.80851063829788 )
T√ºm pclass gruplarƒ±na g√∂re kadƒ±nlarƒ±n hayatta kalma oranƒ± :
Pclass
1    0.968085
2    0.921053
3    0.500000
Name: Survived, dtype: float64

### Soru 4: Ortalama ya≈üƒ±n altƒ±nda olan ve hayatta kalan erkeklerin sayƒ±sƒ± ka√ßtƒ±r?

In [25]:
ortalama_yas = df['Age'].mean()
print(ortalama_yas)
# cinsiyeti erkek olan , hayatta kalmƒ±≈ü ve ortalama ya≈üƒ±n altƒ±nda olanƒ± sƒ±rasƒ±yla yapƒ±yoruz 
Cevap = (df['Sex'] == 'male') & (df['Survived'] == 1) & (df['Age'] < ortalama_yas)
erkek_sayisi = df[Cevap].shape[0]
#Shape bu satƒ±rlarƒ±n sayƒ±sƒ±nƒ± verir
print(erkek_sayisi)

29.69911764705882
51

### Soru 5: `Cabin` deƒüeri eksik olmayanlarƒ±n ya≈ü ortalamasƒ± ile eksik olanlarƒ±n ya≈ü ortalamasƒ± arasƒ±nda fark var mƒ±?

In [28]:
#Titanik veri setinde cabin , yolcunun kamarasƒ±nƒ±n (yani gemideki √∂zel odasƒ±nƒ±n) numarasƒ±nƒ± g√∂steren bir s√ºtundur.
# 1. Cabin bilgisi olanlarƒ±n ya≈ü ortalamasƒ±
yas1 = df[df["Cabin"].notna()]["Age"].mean()
# 2. Cabin bilgisi olmayanlarƒ±n ya≈ü ortalamasƒ±
yas2 = df[df["Cabin"].isna()]["Age"].mean()
print("Ya≈ü ortalamasƒ± farkƒ± : " , yas1 - yas2)

Ya≈ü ortalamasƒ± farkƒ± :  8.274004291626216

### Soru 6: `.describe()` √ßƒ±ktƒ±sƒ±na g√∂re √ßarpƒ±klƒ±k var mƒ±? Hangi deƒüi≈ükenlerde?

In [43]:
int(df["Fare"].mean()),int(df["Fare"].median())
#Ortalama > Medyan = pozitif √ßarpƒ±klƒ±k(saƒüa √ßarpƒ±k) 
print(df.describe().round(0))
#ortalama mean ve %50 deƒüeri de medyandƒ±r
print(" Saƒüa √ßarpƒ±k olanlar : Age ,SipSp,Fare")

       PassengerId  Survived  Pclass    Age  SibSp  Parch   Fare
count        891.0     891.0   891.0  714.0  891.0  891.0  891.0
mean         446.0       0.0     2.0   30.0    1.0    0.0   32.0
std          257.0       0.0     1.0   15.0    1.0    1.0   50.0
min            1.0       0.0     1.0    0.0    0.0    0.0    0.0
25%          224.0       0.0     2.0   20.0    0.0    0.0    8.0
50%          446.0       0.0     3.0   28.0    0.0    0.0   14.0
75%          668.0       1.0     3.0   38.0    1.0    0.0   31.0
max          891.0       1.0     3.0   80.0    8.0    6.0  512.0
 Saƒüa √ßarpƒ±k olanlar : Age ,SipSp,Fare

### Soru 7: Veri setindeki en fazla tekrarlanan ya≈ü deƒüeri (mod) nedir?

In [48]:
mod_yas = df["Age"].mode()
print("En fazla tekrarlanan ya≈ü deƒüeri :" , mod_yas.values)
#En fazla tekrarlanan ya≈ü 24t√ºr

En fazla tekrarlanan ya≈ü deƒüeri : [24.]

### Soru 8: Ortalama bilet fiyatƒ± kadƒ±nlar mƒ± yoksa erkekler i√ßin mi daha y√ºksek?

In [52]:
df.groupby("Sex")["Fare"].mean()
#Kadƒ±nlarƒ±n √∂dediƒüi bilet fiyatƒ± daha y√ºksektir.

Sex
female    44.479818
male      25.523893
Name: Fare, dtype: float64